@* @page "/VerServidoresPúblicosG/{id:int}"; *@
@using Microsoft.AspNetCore.Components.Forms
@using SancionadosSAGB2025.Client.Services
@using SancionadosSAGB2025.Shared.Sanciones
@using SancionadosSAGB2025.Client.Componentes.FaltasDeServidoresPúblicosG.Components

<SancionadosSAGB2025.Client.Shared.Forms.MainForm>
    <Main>
        <SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm BorderActive="true">
            <Content>
                <MudText Typo="Typo.h5" Color="Color.Primary">
                    Ver Faltas de <b>Servidores Públicos Graves</b>
                </MudText>
            </Content>
        </SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
        <SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
            <Content>
                <FormAgregarFaltasServidoresPG FaltasDeServidoresPublicosG="faltasDeServidoresPublicosG" IsEditMode="2" modoVista="true" />
            </Content>
        </SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
    </Main>
</SancionadosSAGB2025.Client.Shared.Forms.MainForm>

