@using Microsoft.AspNetCore.Components.Forms
@using SancionadosSAGB2025.Client.Services
@using SancionadosSAGB2025.Shared.Sanciones
@using SancionadosSAGB2025.Client.Componentes.FaltasGravesPersonasFísicas.Componentes

<SancionadosSAGB2025.Client.Shared.Forms.MainForm>
    <Main>
        <SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm BorderActive="true">
            <Content>
                <MudText Typo="Typo.h5" Style="color:var(--main-color-general);">
                    Modificar Faltas de <b>Servidores Públicos Físicas</b>
                </MudText>
            </Content>
        </SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
        <SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
            <Content>
                <FormAgregarFaltasGravesPersonasFisicas FaltasDeServidoresPublicosG="faltasDeServidoresPublicosFisicas" IsEditMode="2" modoVista="true"/>
            </Content>
        </SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
    </Main>
</SancionadosSAGB2025.Client.Shared.Forms.MainForm>