@page "/AgregarServidoresPúblicosNoGraves";
@using Microsoft.AspNetCore.Components.Forms

<SancionadosSAGB2025.Client.Shared.Forms.MainForm>
    <Main>
        <SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm BorderActive="true">
            <Content>
                <MudText Typo="Typo.h5" Style="color:var(--main-color-general);">
                    Registro de Faltas de <b>Servidores Públicos No Graves</b>
                </MudText>
            </Content>
        </SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
        <SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
            <Content>
            @*         <FormularioFaltasNoGraves /> *@
                <FormAgregarFaltasServidoresPNG />
            </Content>
        </SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
    </Main>
</SancionadosSAGB2025.Client.Shared.Forms.MainForm>