@using SancionadosSAGB2025.Client.Componentes.FaltasDeServidoresPúblicosN.Components

<SancionadosSAGB2025.Client.Shared.Forms.MainForm>
    <Main>
        <SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm BorderActive="true">
            <Content>
                <MudText Typo="Typo.h5" Style="color:var(--main-color-general);">
                    Ver Faltas de <b>Servidores Públicos Graves</b>
                </MudText>
            </Content>
        </SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
        <SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
            <Content>
                <FormAgregarFaltasServidoresPNG FaltasDeServidoresPublicosG="faltasDeServidoresPublicosNG" IsEditMode="2" modoVista="true" />
            </Content>
        </SancionadosSAGB2025.Client.Shared.Partial.Cards.CardForm>
    </Main>
</SancionadosSAGB2025.Client.Shared.Forms.MainForm>
